////////////////////////////////////////
//      Font-Family Definitions       //
////////////////////////////////////////
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700');
$source-serif= 'Source Serif Pro', 'Times New Roman', Times, serif;

///////////////////////////////
//      Font Variables       //
///////////////////////////////
$font= $source-serif;

////////////////////////////
//      Font Mixins       //
////////////////////////////
displayFont() {
  font-family: $font;
  font-weight: 400;
  color: $font-color;
}

displayFontBold() {
  font-family: $font;
  font-weight: 700;
  color: $font-color;
}
