button {
    margin: 0;
    border: none;
    font-size: 1em;
    cursor: pointer;
    padding: rem(8 16);
    background: $white;
    displayFontBold();
    border: 1px solid $black;
    border-radius: rem(5);
    transition: background 250ms ease;
    height: $button-height;
    width: $button-width;

    &:hover {
        background: $gray--100;
    }
}
