button {
    margin: 0;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    background: $white;
    displayFontBold();
    border: 1px solid $black;
    border-radius: rem(5);
    transition: background 250ms ease;
    height: 40px;
    width: 80%;
    max-width: 260px;

    &:hover {
        background: $gray--100;
    }

    +maxScreen(940px) {
        font-size: 0.75rem;
    }
}
