.landing {
  margin: rem(16);                                          // Rem Calc Function
  padding: rem(16);
  background: $primary;                                       // Color variables
  text-align: center;
  font();                                                // Font Stack Mixin

  p {
    font-size: rem(40);
  }
}
