.page-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 550px;

    &__list {
        width: 340px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        padding: 5% 0;
    }

    &__number {
        padding: 0 8px;
    }

    &__number a {
        color: $gray--900;
        text-decoration: none;
        font-weight: normal;
    }
}
