.page-nav {
    width: 200px;
    padding: 2.5% 0 1% 0;

    &__list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }

    &__link {
        text-decoration: none;

        &--active {
            text-decoration: underline;
            font-weight: bold;
        }
    }
}
